* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px rgb(94, 94, 94);
  position: fixed;
  z-index: 2;
  width: 100%;
  gap: 40vw;
  height: 52px;
}
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

nav .right-nav .right-nav-img img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  left: 1vw;
}

nav .right-nav .right-nav-img p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: rgb(2, 46, 93);
  font-weight: bold;
  position: relative;
  top: 0.2vh;
  font-size: 20px;
}
nav .right-nav .right-nav-img {
  display: flex;
  gap: 2vw;
}

/* @media only screen and (max-width: 1368px) {
  nav .right-nav .right-nav-img p {
    outline: none;
    
  }
} */

.right-nav-bars a {
  color: rgb(2, 46, 93);
  font-weight: 100;
  font-size: 25px;
  padding-left: 5vw;
  border: none;
  cursor: pointer;
}

.search-input-box {
  /* position: relative;
  bottom: 0.2vh;
  left: 2vw; */
  padding-bottom: 0.2vh;
  padding-left: 2vw;
}

.search-input-box input {
  width: 18vw;
  border: 0.2px solid rgb(178, 178, 178);
  border-radius: 3px;
  height: 20px;
  padding: 7px 6px 6px 6px;
  font-family: "Open Sans", sans-serif;

  color: rgb(99, 99, 99);
  font-weight: lighter;
  font-size: 12px;
}
.search-input-box input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(108, 108, 108);
}

.search-input-box input:focus {
  outline: none;
  border: 1px solid rgb(151, 150, 150);
  box-shadow: 0px 0px 1px black;
}
.search-input-box input:hover {
  box-shadow: 0px 0px 1px black;
}

nav .left-nav .left-nav-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
nav .left-nav .left-nav-img img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: relative;
}
.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-right: 2vw;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

.left-nav .down-arrow {
  font-size: 13px;
  font-weight: bold;
  padding-right: 0.5vw;
}

nav .left-nav .left-nav-img p {
  font-family: "Baloo 2", sans-serif;
  color: rgb(1, 27, 75);
  font-weight: 600;
  position: relative;
}

.left-nav .notifications {
  display: flex;
}

.left-nav .notifications i {
  font-size: 23px;
}
.left-nav .notifications .unread_notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 106, 255);
  color: white;
  font-family: "Baloo 2", sans-serif;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  position: relative;
  right: 12px;
  bottom: 8px;
}
.left-nav .search-alt {
  display: none;
}

.left-nav .search-box {
  display: none;
}

.left-nav .admin {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px grey;
  width: 210px;
  height: 130px;
  position: absolute;
  right: 2vw;
  top: 10vh;
  color: black;
  border-radius: 4px;
}

.admin .admin-name {
  font-family: "Poppins", sans-serif;
  margin-top: 0.9vw;
  font-size: 18px;
  text-align: center;
}
.admin .admin-role {
  font-family: "Open sans", sans-serif;
  margin-top: 0.1vh;
  color: #5f5f5f;
  font-size: 13px;
  text-align: center;
}
.admin hr {
  font-family: "Open sans", sans-serif;
  margin-top: 1.5vh;
}
.admin .admin-tg a i {
  font-size: 15px;
  color: black;

  font-size: 20px;
}
.admin .admin-tg a span {
  color: black;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
}
.admin .admin-tg a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1vw;
}
.admin .admin-tg a:hover {
  background-color: #95c0ff1f;
}
.hidden-admin {
  display: none;
}

.notes {
  width: 290px;
  height: 200px;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 170px;
  box-shadow: 0 0 4px grey;
}

.notes .note-1 {
  white-space: nowrap;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.notes .note-1 .note-1-text {
  font-family: "Open sans", sans-serif;
}
.notes .note-1 button {
  background-color: rgb(0, 106, 255);
  color: white;
  font-family: "Open sans", sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 6px;
  border-radius: 20px;
  border: none;
}

.notes .note-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.notes .note-2:hover {
  background-color: #95c0ff1f;
}
.notes .note-2 .note-2-pt2 h4 {
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.notes .note-2 .note-2-pt2 .note-2-text {
  font-family: "Open sans", sans-serif;
  color: #5f5f5f;
  font-size: 15px;
  white-space: nowrap;
}
.notes .note-2 .note-2-pt2 .note-2-time {
  font-family: "Open sans", sans-serif;
  color: #6d6c6c;
  font-size: 15px;
  white-space: nowrap;
}
.notes .note-3 a {
  color: rgb(99, 95, 95);
}
.notes .note-3 {
  text-align: center;
  margin-top: 10px;
  font-family: "Open sans", sans-serif;
}
a {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}
/* The sidebar menu */
.sidebar {
  /* overflow: hidden; */
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: -1; /* Stay on top */
  top: 60px;
  left: 0;
  background-color: #ffffff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /*0.5 second transition effect to slide in the sidebar*/
  box-shadow: 0px 0px 4px grey;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

/* The sidebar links */
.sidebar .side-link {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(1, 27, 75);

  transition: 0.3s;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

/* When you mouse over the navigation links, change their color */
/* .sidebar a:hover {
  color: #f1f1f1;
} */

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}
.sidebar .sidebar-a1 {
  display: flex;
  font-weight: 600;
  gap: 1vw;
  white-space: nowrap;
  color: #3541ef;
  background-color: #7586951a;
  padding: 13px 46px 13px 13px;
  margin: 18px;
  border-radius: 5px;
  /* justify-content: center; */
  /* align-items: center; */
}

.sidebar .sidebar-a1 p {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  white-space: nowrap;
}
.sidebar .sidebar-a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  font-family: "Open sans", sans-serif;
  padding: 13px 0px 13px 13px;
  margin: 0 18px 0 18px;
  border-radius: 5px;
}
.sidebar a:active {
  background-color: transparent;
}
.sidebar a:hover {
  color: #3541ef;
  background-color: #7586951a;
  cursor: pointer;
}
.sidebar .closebtn:hover {
  background-color: transparent;
  color: rgb(2, 46, 93);
}

.sidebar .sidebar-a p {
  font-size: 15px;
  font-weight: 600;
}
.sidebar .sidebar-a i:nth-child(3) {
  font-size: 12px;
}

.sidebar ul li a {
  background-color: white;
  white-space: nowrap;
  list-style: circle;
  text-decoration: none;
  color: rgb(1, 27, 75);
  font-weight: 600;
  font-family: "Open sans", sans-serif;

  /*---------------------------------------------*/
}
.sidebar ul li {
  margin: 12px;
  list-style: circle;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  color: #3541ef;
  background-color: white;
}
.sidebar ul li:hover {
  color: #3541ef;
}
.sidebar ul {
  padding-left: 60px;
  white-space: nowarap;

  overflow-y: hidden;
  /* visibility: none; */
  /* display: none; */

  transition: height 0.5s ease;
}
.rotator {
  transform: rotate(180deg);
}

/* 
.height-remove{
  height: 0;
  overflow-y: hidden;
} */

.sidebar a .fa-chevron-down {
  transition: transform 0.5s ease;
}
.sidebar .side-head {
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: rgb(147, 152, 175);
  padding: 10px 0px 10px 30px;
}

/* .sub-1{
    display: block;
}
.chev-1{
  transform: rotate(180deg);
}  */

#main {
  position: absolute;
  z-index: -3;
}

body {
  overflow-x: hidden !important;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestions-container {
  width: 96vw;
  position: relative;
  top: 80px;
  box-shadow: 0px 0px 2px grey;
  /* z-index: -3; */
}

.suggestion-put-border {
  border: 1px solid rgb(159, 159, 159);
  border-radius: 8px;
}
.suggestion {
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-bottom: 1px solid grey;
}

.suggestion:hover {
  background-color: #e9e6e658;
}
.suggestion .batch-name {
  color: rgb(255, 0, 0);
}
.suggestion .class-label {
  /* Change color */
  color: rgb(15, 92, 1);
}

.suggestion .class-number {
  color: rgb(255, 0, 0); /* Change color */
}
.suggestion img {
  width: 70px;
  border-radius: 8px;
}

#main .path {
  margin-top: 14vh;
  padding-left: 3vw;
}
#main .path span {
  color: rgb(135, 150, 190);
  font-family: "Open sans", sans-serif;
  font-size: 14px;
}
#main .path span a:active {
  color: rgb(135, 150, 190);
}
#main .path span a:visited {
  color: rgb(135, 150, 190);
}
#main .path span:nth-child(5) {
  color: rgb(55, 70, 114);
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

#main .tab {
  padding: 1.2vw 1.5vw;
  width: 90vw;

  margin: auto;
  background-color: rgba(204, 40, 40, 0.236);
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  color: #100148;
  border: 1px solid rgb(193, 50, 50);
  border-radius: 8px;
  margin-top: 24px;
}
#main .tab span:nth-child(1) {
  font-size: 19px;
}

#hr-ab-footer {
  width: 95vw;
}

.hr-div {
  /* margin-top: -2000px; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  margin-top: 20px;
  font-family: "Open sans", sans-serif;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  color: #443889;
}
footer .line-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .line-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .line-1 .footer-p-2 {
  font-weight: bold;
}
footer .line-2 .footer-p-5 a {
  text-decoration: none;
  color: #3541ef;
}
#scrollToTopBtn {
  border: none;
  background-color: rgb(59, 8, 201);
  display: flex;
  padding: 10px;
  position: sticky;
  left: 95vw;
  bottom: 6vh;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#scrollToTopBtn.show-scrl-btn {
  opacity: 1;
}

.bg-batch-details {
  height: 250px;
}

.bg-batch-details .pinkbg {
  margin-top: 4vh;
  height: 225px;
  width: 100%;
  background-color: rgb(230, 69, 122);
}
.text {
  padding: 3vh 0px 2vh 10vw;
  color: white;
  font-family: "Open sans", sans-serif;
}
.text h3 {
  font-size: 52px;
}
.free-msg {
  padding-top: 4vh;
  font-weight: bolder;
  font-size: 14px;
}
.price {
  padding-top: 1vh;
  display: flex;
  align-items: center;
}
.price .selling-price {
  font-size: 45px;
  font-weight: bolder;
}
.price .marked-price {
  text-decoration: line-through;
  font-weight: 500;
}
.price .discount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  color: rgb(75, 187, 93);
  padding: 5px;
  border-radius: 4px;
}
.batch-card {
  position: absolute;
  box-shadow: 0px 0px 4px grey;
  left: 70vw;
  bottom: 100vh;
  height: 55vh;
  width: 25vw;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
  border-radius: 8px;
  font-family: "Open sans", sans-serif;
  color: rgb(20, 20, 20);
}
.batch-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}
.batch-img img {
  width: 90%;
  border-radius: 14px;
}
.batch-for-free-msg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
}
.batch-for-free-msg span {
  font-size: 14px;
  font-weight: 600;
}
.batch-card-price {
  width: 100%;
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
.batch-sp {
  font-weight: bolder;
  font-size: 45px;
  color: rgb(28, 28, 28);
}
.batch-mp {
  color: grey;
  font-weight: 500;
  text-decoration: line-through;
}
.batch-discount {
  padding: 5px;
  border-radius: 25px;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  background-color: rgb(74, 198, 110);
}
.enroll-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.enroll-button .enroll {
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #6146fd;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.enroll-button .enroll:hover {
  background-color: #7a62ff;
}

.batch-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Open sans", sans-serif;
  margin: 2vh 0 0vh 1vw;
}
.b-nav-cards {
  position: relative;
  z-index: 1;

  padding: 8px 22px;
  cursor: pointer;
}
.b-nav-cards:hover {
  color: rgb(17, 93, 234);
}
.details-nav {
  margin-left: 14px;
}

.batch-nav-hr {
  margin-left: 2vw;
  width: 60%;
}

.highlight-batch-nav {
  border-bottom: 3px solid rgb(17, 93, 234);
  margin-bottom: -3px;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0px 0px 10px grey;
  color: rgb(17, 93, 234);
}

.batch-box-det-2 {
  margin-top: 2vh;
  width: 60vw;
  height: 88vh;
  font-family: "Open sans", sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 40px grey;
  opacity: 0;
  transition: all 0.5s ease;
  margin-left: 29px;
  padding: 6vh;
  margin-bottom: 5vh;
}
.show-batch-details-box {
  opacity: 1;
}
.details-head h3 {
  font-size: 26px;
}
.batch-details-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
button {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

@media only screen and (max-width: 964px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px rgb(94, 94, 94);
    position: fixed;
    z-index: 2;
    width: 100%;
    gap: 3vw;
    height: 52px;
  }
  .right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
    cursor: pointer;
  }

  nav .right-nav .right-nav-img img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    left: 1.8vw;
  }

  nav .right-nav .right-nav-img p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: rgb(2, 46, 93);
    font-weight: bold;
    position: relative;
    left: 2vw;
    top: 0.2vh;

    font-size: 20px;
  }
  nav .right-nav .right-nav-img {
    display: flex;
  }

  /* @media only screen and (max-width: 1368px) {
    nav .right-nav .right-nav-img p {
      outline: none;
      
    }
  } */

  .right-nav-bars a {
    color: rgb(2, 46, 93);
    font-weight: 100;
    font-size: 25px;
    padding-left: 5vw;
    border: none;
  }

  .search-input-box {
    /* position: relative;
    bottom: 0.2vh;
    left: 2vw; */
    padding-bottom: 0.2vh;
    padding-left: 2vw;
    display: none;
  }

  nav .left-nav .left-nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
  nav .left-nav .left-nav-img img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
  }
  .left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1vw;
    margin-right: 2vw;
    cursor: pointer;
  }

  .left-nav .down-arrow {
    font-size: 13px;
    font-weight: bold;
    padding-right: 3vw;
  }

  nav .left-nav .left-nav-img p {
    font-family: "Baloo 2", sans-serif;
    color: rgb(1, 27, 75);
    font-weight: 600;
    position: relative;
    display: none;
  }

  .left-nav .notifications {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    left: 1vw;
  }

  .left-nav .notifications i {
    font-size: 23px;
    color: rgb(2, 46, 93);
  }
  .left-nav .notifications .unread_notification {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 106, 255);
    color: white;
    font-family: "Baloo 2", sans-serif;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    position: relative;
    right: 2.8vw;
    bottom: 1.2vh;
  }
  .left-nav .search-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 0.4vh; */
    right: 0.4vw;
    font-size: 20px;
  }
  .left-nav .search-alt i {
    color: rgb(2, 46, 93);
  }

  .left-nav .admin {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px grey;
    width: 210px;
    height: 130px;
    position: absolute;
    right: 2vw;
    top: 8vh;
    color: black;
    border-radius: 4px;
  }

  .admin .admin-name {
    font-family: "Poppins", sans-serif;
    margin-top: 0.9vw;
    font-size: 18px;
    text-align: center;
  }
  .admin .admin-role {
    font-family: "Open sans", sans-serif;
    margin-top: 0.1vh;
    color: #5f5f5f;
    font-size: 13px;
    text-align: center;
  }
  .admin hr {
    font-family: "Open sans", sans-serif;
    margin-top: 1.5vh;
  }
  .admin .admin-tg a i {
    font-size: 15px;
    color: black;
    padding: 12px;
    font-size: 24px;
  }
  .admin .admin-tg a span {
    color: black;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
  }
  .admin .admin-tg a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1vw;
  }
  .hidden-admin {
    display: none;
  }

  .notes {
    width: 290px;
    height: 200px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 40px;
    box-shadow: 0 0 4px grey;
  }

  @keyframes blurAppear {
    0% {
      transform: translateY(-50px);
      filter: blur(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  .left-nav .search-box {
    position: absolute;
    z-index: -2;
    width: 93%;
    background-color: white;
    box-shadow: 0 0 4px grey;
    top: 8vh;
    right: 0vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    display: none;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  .left-nav .visible-search {
    display: block;
    animation-name: blurAppear;
  }
  .left-nav .search-box input {
    font-family: "Open sans", sans-serif;
    /* border: none; */

    display: flex;
    align-items: center;
    outline: none;
    border: 1px solid rgba(153, 191, 253, 0.527);
    border-radius: 4px;
    padding: 5px;
    width: 90vw;
    height: 2.5vh;
  }
  .left-nav .search-box input::placeholder {
    font-family: "Open sans", sans-serif;
    font-size: 12px;
  }

  /* The sidebar menu */
  .sidebar {
    /* overflow: hidden; */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: -1; /* Stay on top */
    top: 56px;
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidebar*/
    box-shadow: 0px 0px 4px grey;
  }

  /* The sidebar links */
  .sidebar .side-link {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(1, 27, 75);

    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  /* .sidebar a:hover {
  color: #f1f1f1;
} */

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidebar .sidebar-a1 {
    display: flex;
    font-weight: 600;
    gap: 1vw;
    white-space: nowrap;
    color: #3541ef;
    background-color: #7586951a;
    padding: 13px 46px 13px 13px;
    margin: 18px;
    border-radius: 5px;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .sidebar .sidebar-a1 p {
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    white-space: nowrap;
  }
  .sidebar .sidebar-a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    font-family: "Open sans", sans-serif;
    padding: 13px 0px 13px 13px;
    margin: 0 18px 0 18px;
    border-radius: 5px;
  }
  /* .sidebar .sidebar-a:hover{
  color: #3541ef;
  background-color: #7586951a; 
} */

  .right-nav-bars button:active {
    background-color: transparent;
  }
  .sidebar a:hover {
    color: #3541ef;
    background-color: #7586951a;
  }
  .sidebar .closebtn:hover {
    background-color: transparent;
    color: rgb(2, 46, 93);
  }

  .sidebar .sidebar-a p {
    font-size: 15px;
    font-weight: 600;
  }
  .sidebar .sidebar-a i:nth-child(3) {
    font-size: 12px;
  }

  .sidebar ul li a {
    white-space: nowrap;
    list-style: circle;
    text-decoration: none;
    color: rgb(1, 27, 75);
    font-weight: 600;
    font-family: "Open sans", sans-serif;
  }
  .sidebar ul li {
    margin: 12px;
    list-style: circle;
    white-space: nowrap;
  }
  .sidebar ul li a:hover {
    color: #3541ef;
  }
  .sidebar ul li:hover {
    color: #3541ef;
  }
  .sidebar ul {
    padding-left: 60px;
    white-space: nowarap;

    overflow-y: hidden;
    /* visibility: none; */
    /* display: none; */

    transition: height 0.5s ease;
  }
  .rotator {
    transform: rotate(180deg);
  }

  /* 
.height-remove{
  height: 0;
  overflow-y: hidden;
} */

  .sidebar a .fa-chevron-down {
    transition: transform 0.5s ease;
  }
  .sidebar .side-head {
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: rgb(147, 152, 175);
    padding: 10px 0px 10px 30px;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: white;
  }
  .suggestions-container {
    width: 96vw;
    position: relative;
    top: 145px;
    box-shadow: 0px 0px 2px grey;
    z-index: 3;
    background-color: white;
  }

  .suggestion-put-border {
    border: 1px solid rgb(159, 159, 159);
    border-radius: 8px;
  }
  .suggestion {
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 10px;
    border-bottom: 1px solid grey;
  }

  .suggestion:hover {
    background-color: #e9e6e658;
  }
  .suggestion .batch-name {
    color: rgb(255, 0, 0);
  }
  .suggestion .class-label {
    /* Change color */
    color: rgb(15, 92, 1);
  }

  .suggestion .class-number {
    color: rgb(255, 0, 0); /* Change color */
  }
  .suggestion img {
    width: 70px;
    border-radius: 8px;
  }
  #main {
    margin-top: 10vh;
  }
  footer {
    font-size: 10px;
  }

  #scrollToTopBtn {
    left: 86vw;
    z-index: 10;
  }

  #main .path {
    margin-top: 3vh;
    padding-left: 3vw;
  }
  #main .path span:nth-child(1),
  #main .path span:nth-child(2),
  #main .path span:nth-child(3),
  #main .path span:nth-child(4) {
    color: rgb(135, 150, 190);
    font-family: "Open sans", sans-serif;
    font-size: 12px;
  }
  #main .path span:nth-child(5) {
    color: rgb(55, 70, 114);
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
  }

  #main .tab {
    padding: 4vw 3vw;
    width: 90vw;

    margin: auto;
    background-color: rgba(204, 40, 40, 0.236);
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    color: #100148;
    border: 1px solid rgb(193, 50, 50);
    border-radius: 8px;
    margin-top: 24px;
  }
  #main .tab span:nth-child(1) {
    font-size: 19px;
  }

  .hr-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hr-center hr {
    width: 92%;
  }

  .bg-batch-details .pinkbg {
    margin-top: 2vh;
    height: 225px;
    width: 100%;
    background-color: rgb(230, 69, 122);
  }
  .text h3 {
    font-size: 30px;
    font-weight: 800;
    white-space: nowrap;
  }
  .batch-card {
    position: relative;
    box-shadow: 0px 0px 4px grey;
    top: 2vh;
    left: 2vw;
    height: 50vh;
    width: 95vw;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 8px;
    font-family: "Open sans", sans-serif;
    color: rgb(20, 20, 20);
  }
  .batch-card-price {
    width: 100%;
    display: flex;
    gap: 4vw;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
  }
  .batch-sp {
    font-weight: bolder;
    font-size: 50px;
    color: rgb(28, 28, 28);
  }
  .batch-discount {
    padding: 5px;
    border-radius: 25px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    background-color: rgb(74, 198, 110);
  }

  .batch-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Open sans", sans-serif;
    margin: 52vh 0 0vh 1vw;
  }
  .b-nav-cards {
    position: relative;
    z-index: 1;

    padding: 8px 22px;
    cursor: pointer;
  }
  .b-nav-cards:hover {
    color: rgb(17, 93, 234);
  }
  .details-nav {
    margin-left: 14px;
  }

  .batch-nav-hr {
    margin-left: 2vw;
    width: 95%;
  }

  .highlight-batch-nav {
    border-bottom: 3px solid rgb(17, 93, 234);
    margin-bottom: -3px;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 0px 10px grey;
    color: rgb(17, 93, 234);
  }

  .batch-box-det-2 {
    margin-top: 2vh;
    width: 80vw;
    height: 155vh;
    font-family: "Open sans", sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 40px grey;
    opacity: 0;
    transition: all 0.5s ease;
    margin-left: 25px;
    padding: 2vh;
    margin-bottom: 5vh;
  }
  .show-batch-details-box {
    opacity: 1;
  }
  .details-head h3 {
    font-size: 20px;
  }
  .batch-details-list {
    white-space: normal;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
}
